<div style="width:80%;margin:0 auto;">
<h1>API version 3</h1>
<p>The <a class="navigate" href="/develop/api/v2/">old api</a> is still available but it is not maintained and may be removed in the future.</p>

<p>Functional description of APIv3 found at <a href="http://piefork.com/#fetch?url=http%3A%2F%2Fmylittlefacewhen.com%2Fapi%2Fv3%2F">Piefork</a></h2>

<h2>Major differences to version 2</h2>
<ul>
    <li>More functionality documentend.
    <li>face 'search' is now 'tags__all' or 'tags__any' depending on use
    <li>tags are now inputted as a string and each tag is separated with comma, no JSON arrays needed.
    <li>API can be fully described through schema.
    <li>Parameters for image uploads have been changed.
</ul>
<h3>Other things to note</h3>
<ul>
    <li>As before XML can be requested with HTTP Accept-header or by specifying '&amp;format=xml' to any query.
</ul>
</div>
