<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="{{ static_prefix }}favicon.ico">
<link rel="alternate" type="application/rss+xml" title="MyLittleFaceWhen.com latest images" href="http://MyLittleFaceWhen.com/feed/">
<meta name="viewport" content="width=device-width, height=device-height">        
<meta property="og:title" content="MyLittleFaceWhen.com">
<meta property="og:type" content="website">
<meta property="og:site_name" content="MyLittleFaceWhen.com">

{{# styles }}
    <link rel="stylesheet" href="{{ static_prefix }}css/{{ style }}.css" type="text/css">
{{/ style }}
<title>{{ title }} - MyLittleFaceWhen</title>
<meta name="description" content="{{ description }}">
<meta property="og:url" content="http://mylittlefacewhen.com{{ path }}">
<meta id="og-image" property="og:image" content="{{ image }}">
<!--[if IE 9]><style type="text/css">a.tag {color: black!important; }</style><![endif]-->

