{{# message }}
  <h2 class='text-center'>{{ message }}</h2>
{{/ message }}
<div id="thumbs" class="thumbs text-center"></div>
<div id="loader"><img src="{{ static_prefix }}dash.gif" alt="loading" /></div>
<div id="loadMore" class="text-center">
  <h1>click to load more</h1>
</div>
