<div id="randoms" class="text-center"></div>
<div id="loader"><img src="{{ static_prefix }}dash.gif" alt="loading" /></div>
<div id="loadMore" class="text-center">
  <h1>click to load more</h1>
  <span>/)^3^(\</span>
</div>
