<div class="preview">
    <img class="thumb" title="{{{ image.name }}}" data-type="{{{ image.type }}}" src="{{{ imageURL }}}" height="100">
</div>
<div class="info">
  <p>{{{ image.name }}}</p>
  <label>
    <b>Tags:</b>
    <input type="text" class="tags" value="loading..." name="tags">
  </label>
  <br>
  <label><input type="checkbox" name="transparent">transparent</label>
  <label><input type="checkbox" name="fanart">fanart</label>
  <label><input type="checkbox" name="screenshot">screenshot</label>
  <br>
  <label>
    <b>Source:</b>
    <input type="text" class="source" value="loading..." name="source">
  </label>
</div>
<div class="controls">remove</div>
