<h2 class="text-center">Submit some ponies!</h2>

<div id="new_submit">
  <div id="dropzone">
    <p>Drag&amp;Drop ponies here</p>
    <p>or choose a few</p>
    <input type="file" id="files" name="files[]" multiple accept="image/png,image/jpeg,image/gif">
  </div>

  <div id="upload_list"><ul></ul></div>

  <div id="upload">
    <span>upload</span>
    <div id="loader"><img src="/static/dash.gif" alt="loading" /></div>
  </div>
</div>


<div id="to-unreviewed" class="text-center"><a href="/unreviewed/">Unreviewed images</a></div>
<div id="instructions">
  <button>Criteria for acceptance</button>
  <div>
    <h4>Criteria for acceptance in order of importance:</h4>
    <ol>
      <li>Relevant to ponies</li>
      <li>No rule 34</li>
      <li>No duplicates unless higher quality</li>
      <li>Can be used as a reaction image</li>
      <li>Mod likes the image</li>
      <li>High quality</li>
      <ul>
        <li>Any captions are clearly visible</li>
        <li>should have at least 400px width</li>
        <li>no white text on light background</li>
        <li>no black text on dark background</li>
      </ul>
      <li>No OC ponies unless it's highly relevant</li>
    </ol>
    If some image doesn't make the cut please don't take it personally. We're just trying to keep the quality up. We know there are some bad images that have been accepted and sometimes some good ones get rejected for some of the given reasons. We're trying our best.
  </div>
</div>
