<div class="text-center" id="tags"></div>
<h4 class="text-center">protip: Ctrl-f</h4>
<div id="tagcloud" class="text-center">{{# models }}<a class="tag" href="/search/?tag={{ name }}">{{ name }}</a>{{/ models }}</div>
