<div id="mainos"><b>Ad:</b><span></span><div><a id="close-ad" href="#">X</a></div></div>
<div id="social">
  <span><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fmylittlefacewhen&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></span>
</div>
<div id="top_back">
  <div id="top_hack">
    <div id="logo"><a href="/" class="no_decoration">MyLittleFaceWhen.com</a></div>
    <div id="search"><form method="get" action="/search/"><input id="searchbar" class="tags" name="tags" value="" type="search" placeholder="search tags, separated by comma, " tabindex="1" required /><input id="tagssubmit" type="submit" value="GO" /></form></div>
  </div>
</div>
<div id="top_front">
  <div id="topmenu">
    <a href="/submit/" id="m_submit"><div>submit</div></a>
    <a href="/" id="m_posts"><div>posts</div></a>
    <a href="/randoms/" id="m_randoms"><div>randoms</div></a>
    <a href="/tags/" id="m_tags"><div>tags</div></a>
    <a href="/feedback/" id="m_feedback"><div>feedback</div></a>
    <a href="/develop/" id="m_develop"><div>info</div></a>
    <a href="/develop/api/" id="m_api"><div>API</div></a>
  </div>
</div>
