{% extends "base.html" %}

{% block title %}sourcelog{% endblock %}
{% block description %}Log for tag edits{% endblock %}

{% block content %}
{% if undo != None %}
Undo was {{ undo|yesno:'<font class="green">success!</font>,<font class="red">failure!</font>'|safe}}
{% endif %}

{% for log in sourcelog %}
    <form method="post" action="">
        {% csrf_token %} 
        <input type="hidden" name="id" value="{{ log.id }}" />
        <span>{{ log.age }} ago</span>
        <a href="/f/{{ log.face.id }}">
            <img src="{% if log.face.png %}{{ log.face.png.url }}{% else %}{{log.face.jpg.url}}{%endif%}" alt="" class="edit" />
        </a>
        {% if log.prev %}<a href="{{ log.prev.source }}">{{ log.prev.source }}</a>{% else %}None{% endif %} -> <a href="{{log.source}}">{{ log.source }}</a>
        <input type="submit" value="undo" />
    </form>
{% endfor %}
{% endblock %}
