span.tagcloud img:hover, input#tagssubmit, span.thumb img:hover, a.page:hover, img.single:hover, a.tag:hover, .listimage img:hover {
  color: #f8b9cf;
  background-color: #e57eb3;
  box-shadow: 2px 2px 5px black; }

ul#lower li:hover, ul#lower li.focused {
  background-color: #ddb304;
  color: #f8b9cf; }

div#top {
  /* http://www.colorzilla.com/gradient-editor/ */
  background: #e57eb3;
  background: -moz-linear-gradient(top, #e57eb3 0%, #f8b9cf 33%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e57eb3), color-stop(33%, #f8b9cf));
  background: -webkit-linear-gradient(top, #e57eb3 0%, #f8b9cf 33%);
  background: -o-linear-gradient(top, #e57eb3 0%, #f8b9cf 33%);
  background: -ms-linear-gradient(top, #e57eb3 0%, #f8b9cf 33%);
  background: linear-gradient(top, #e57eb3 0%, #f8b9cf 33%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$fluttershy_hair_stroke', endColorstr='$fluttershy_hair',GradientType=0 ); }

a.tag, a.page {
  background-color: #f8b9cf; }

ul#lower li, a.tag, #logo, a.page {
  color: #e57eb3; }

a.tag, body, html, a.page, a.logo, ul#lower li, input#tagssubmit {
  text-shadow: 1px 1px 0 black; }

ul#lower li.selected, body, html {
  color: #ddb304;
  background-color: #fff797; }

a {
  color: #ddb304; }

span.thumb img, span.tagcloud div, img.single, a.page, .listimage img {
  background-color: #f8b9cf;
  box-shadow: 2px 2px 5px #e57eb3; }

hr {
  color: #ddb304;
  border-color: #ddb304;
  background-color: #ddb304; }

#upload_list li:nth-of-type(2n+1) {
  background-color: #ddb304;
  color: #fff797; }

#drop_zone {
  border: 2px dashed #ddb304; }

#upload:hover {
  background-color: #f8b9cf; }
